:root {
    /*colors*/

    --mainfont : #1b1b1b;
    --mainnothover : #808080;
    --mainbackground-image: linear-gradient(to right, lightcoral, lightsalmon, lightgoldenrodyellow, lightgreen, lightblue, mediumpurple);
    --font : #d3d3d3;
    --shadow : #606060;

    /*dimensions*/
    --mainliwidth : 25%
}

body {
    font-family: "Droid Sans Mono", monospace;
}