:root {
    /*colors*/
    --fontcolor: var(--maincolor);
    --maincolor: #484848;
    --maincolorrgba: rgba(72, 72, 72, 0.75);
    --mainbackground-image: linear-gradient(to right, lightcoral, lightsalmon, gold, lightgreen, lightblue, mediumpurple);
    --lightfontcolor: #d3d3d3;
    --shadowcolor: rgba(92, 92, 92, 0.35);


    /*dimensions*/
    --mainliwidth: 25%;

    /*other*/
    --borderradius: 5px;
    --defaultmargin: 10px;
    --shadow: var(--shadowcolor) 5px 5px;
    --transition: 0.4s ease-in-out;

}


body {
    font-family: "Droid Sans Mono", monospace;

    @media screen and (min-width: 1081px) {
        background-image: url(../ressource/media/background/backg3.gif);
    }

    @media screen and (max-width: 1080px) {
        background-image: url(../ressource/media/background/snow.gif);
    }

    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
