a, p {
    text-decoration: none;
    color: var(--lightfontcolor);
    display: block;
}

#footer_container {
    display: flex;
}

#footer_container > div {
    margin: auto;
}

footer{
    height: 7vh;
    background-color: var(--maincolorrgba);
    margin-top: 4vh;
}