#link_container {
    border-radius: var(--borderradius);
    background-color: var(--shadowcolor);
    margin: 20px 0;
    padding: 10px 15px;
}

#link_container > a {
    text-decoration: none;
    margin: 10px;
}

#link_container > a > div {
    background-color: white;
    border-radius: var(--borderradius);
    padding: 10px;
    box-shadow: var(--shadow);
    display: flex;
    transition: background-color var(--transition) , color var(--transition);
}

#link_container > a > div:hover {
    background-color: var(--mainnothover);
    color: var(--font);
}

#link_container > a > div > img {
    border-radius: var(--borderradius);
    image-rendering: high-quality;
    width: 5%;
    height: 5%;
}

#link_container > a > div > p {
    width: 100%;
    color: var(--mainnothover);
    text-align: center;
    margin: auto;
}

#link_container > a > div:hover > p {
    color: var(--font);
}

