#link_container {
    border-radius: var(--borderradius);
    background-color: rgba(211,211,211,0.25);
    padding: 0.5vw 0;
    width: 70vw;
    margin: 2vh auto;
    overflow: auto;
    height: 50vh;
}

#link_container > a {
    text-decoration: none;
    margin: 2vh 2vb;
}

#link_container > a > div {
    background-color: var(--maincolor);
    border-radius: var(--borderradius);
    padding: 1.5vb;
    margin: 2vh 0;
    display: flex;
    transition: background-color var(--transition) , color var(--transition);
}

#link_container > a > div:hover {
    background-color: var(--maincolor);
    color: var(--lightfontcolor);
}

#link_container > a > div > img {
    border-radius: var(--borderradius);
    image-rendering: high-quality;
    width: 4vh;
    height: 4vh;
}

#link_container > a > div > p {
    width: 100%;
    color: var(--lightfontcolor);
    text-align: center;
    margin: auto;
}

#link_container > a > div:hover > p {
    color: var(--lightfontcolor);
}

h1 {
    color: var(--lightfontcolor);
    text-align: center;
    font-size: 5vmax;
    margin: 4vh auto;

    @media screen and (min-width: 1081px) {
        margin: 8vh auto;
        font-size: 2.5vmax;
    }
}

#main{
    flex: 1;
}
