#link_container {
    border-radius: var(--borderradius);
    background-color: var(--shadowcolor);
    margin: 20px 0;
    padding: 10px;
}

#link_container > a > div, #link_container > div {
    background-color: white;
    border-radius: var(--borderradius);
    margin: 10px 0;
    padding: 10px;
    box-shadow: var(--shadow);
    display: flex;
}

#link_container > a > div:hover, #link_container > div:hover {
    background-color: var(--mainnothover);
    color: var(--font);
}

#link_container > img {
    border-radius: var(--borderradius);
}