:root {
    --day :  linear-gradient(to right, white, rgba(135, 183, 255, 1) 90%);
    --night : linear-gradient(to right, var(--maincolor), rgba(24, 50, 104, 1) 90%);
}

#info_container {
    background-color: var(--shadowcolor);
    border-radius: var(--borderradius);
    padding: 1%;
    width: fit-content;
    float: right;
}

#info_container > div {
    margin: 10px;
}

#clock {
    text-align: right;
}

#weather, #time {
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather{
    box-shadow: var(--shadow);
    border-radius: var(--borderradius);
}

#weather > div, #time > p {
    margin: 5px;
}