:root {
    --day :  linear-gradient(to right, white, rgba(135, 183, 255, 1) 90%);
    --night : linear-gradient(to right, var(--maincolor), rgba(24, 50, 104, 1) 90%);
}

.info_container {
    background-color: var(--maincolorrgba);
    border-radius: var(--borderradius);
    padding: 1%;
    color: var(--lightfontcolor);

    @media screen and (min-width: 1081px) {
        width: fit-content;
    }

    @media screen and (max-width: 1080px) and (min-width: 575px) {
        display: flex;
    }
}

.clock {
    text-align: center;
    align-self: center;
    margin: 1vb auto;
    width: fit-content;
}

.weather, .time {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 2vb;


    @media screen and (max-width: 1080px) {
        width: fit-content;
        height: fit-content;
        margin: 0;
        padding: 0;
    }
}


.weather {
    border-radius: var(--borderradius);
    margin: 0 auto;
}

.weatherwrap {
    margin: 1vb;
}

.weather > div, .time > p {
    margin: 5px;
}