.menu {

    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 5px;

    background-image: var(--mainbackground-image);
    box-shadow: var(--shadow) 5px 5px;


    li {
        float: left;
        padding: 10px 0;
        background-color: var(--mainnothover);
        width: var(--mainliwidth);
    }

    li a {
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        color: var(--font);
    }

    li:hover {
        background-color: transparent;
        color: var(--mainfont);
    }

    li a:hover, li:hover a {
        color: var(--mainfont);
    }
}