.menu {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 1% auto;
    overflow: hidden;
    border-radius: var(--borderradius);

    background-image: var(--mainbackground-image);

    li {
        background-color: var(--maincolor);
        width: var(--mainliwidth);
        padding: 0.5rem 0;
        float: left;
        transition: background-color var(--transition) , color var(--transition);
    }

    li a {
        color: var(--lightfontcolor);
        margin: auto 0;
        width: 100%;
        padding: 2.5% 0;
        display: inline-block;
        align-self: center;
        text-align: center;
        text-decoration: none;
    }

    li:hover {
        background-color: transparent;
        color: var(--fontcolor);
    }

    li a:hover, li:hover a {
        color: var(--fontcolor);
    }
}