.menu {


    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: var(--borderradius);

    background-image: var(--mainbackground-image);
    box-shadow: var(--shadow);


    li {
        background-color: var(--mainnothover);
        width: var(--mainliwidth);
        padding: 10px 0;
        float: left;
        transition: background-color var(--transition) , color var(--transition);
    }

    li a {
        color: var(--font);
        width: 100%;
        padding: 10px 0;
        display: inline-block;
        text-align: center;
        text-decoration: none;
    }

    li:hover {
        background-color: transparent;
        color: var(--mainfont);
    }

    li a:hover, li:hover a {
        color: var(--mainfont);
    }
}